$black: #000000;
$white: #ffffff;
$gray: #dddddd;

$colorBackground: #616161;

$colorText: $color-secondary-1-0;

$colorButton: $color-secondary-2-0;
$colorButtonBorder: $color-secondary-2-4;

$colorButton2: $gray;

$colorMenuBackground: $color-complement-0;
$colorMenuText: $white;

$colorCardBorder: $color-secondary-1-0;
$colorCardBorderDrag: $color-secondary-1-2;
$colorCardTitle: $white;
$colorCardContentBackground: $white;
$colorCardHandleBackground: $color-secondary-1-3;
$colorCardControl: $black;
$colorCardColorControl: $white;
$colorCardEditControl: $color-secondary-1-0;



$colorTag1: #556270;
$colorTag2: #4ECDC4;
$colorTag3: #C7F464;
$colorTag4: #FF6B6B;
$colorTag5: #C44D58;

$colorAltTag1: #FF5E82;
$colorAltTag2: #5B76A4;
$colorAltTag3: #87CA5C;
$colorAltTag4: #E6D86A;
$colorAltTag5: #FF8465;

