$black: #000000;
$white: #ffffff;
$gray: #dddddd;

$colorBackground: #ccc;

$colorText: $color-secondary-1-0;

$colorButton: $color-secondary-2-0;
$colorButtonBorder: $color-secondary-2-4;

$colorButton2: $gray;

$colorMenuBackground: $color-complement-0;
$colorMenuText: $white;

$colorCardBorder: $color-secondary-1-0;
$colorCardBorderDrag: $white;
$colorCardTitle: $white;
$colorCardContentBackground: $white;
$colorCardHandleBackground: $color-secondary-1-3;
$colorCardControl: $black;
$colorCardColorControl: $white;
$colorCardEditControl: $color-secondary-1-0;




//Colors
$color-theme-scott-0: #58585C; // Grey
$color-theme-scott-1: #249CD5; // Blue
$color-theme-scott-2: #4ABCCE; // Light blue
$color-theme-scott-3: #E26F50; // Orange
$color-theme-scott-4: #23beb6; // Green

