// MODULE SYNTAX
// module: 		.module-name
// child: 		.module-name_child
// sub class: 	.module-name--subclass
// state: 		.module-name--is-state

// =============================================================================
// Module
// =============================================================================

.sub-banner{
	@include background-image(linear-gradient(#74101A, $color-primary));
	color:#fff;
	height:6em;
	position:relative;
	@include at-breakpoint($breakpoint-small 12) {
		height:7em;
	}
	@include at-breakpoint($breakpoint-medium 12) {
		height:8em;
	}
}

// Sub Classes


// States



// =============================================================================
// Children (that are not separate modules)
// =============================================================================

.sub-banner_title{
	font-size: ms(3);
	letter-spacing: -2px;
	padding-top:1.65em;
	padding-left:0.5em;
	@include at-breakpoint($breakpoint-small 12) {
		font-size: ms(4);
		padding-top:1.4em;
	}
	@include at-breakpoint($breakpoint-medium 12) {
		font-size: ms(5);
		padding-top:1.25em;
	}
	}

// Children Sub classes

.module_child--somestyle{}

// Children States

.module_child--is-something{}

// =============================================================================
// Positioning Visiting Modules
// =============================================================================

// position "visiting modules", i.e. modules contained within
// this module that have their own module definition
// only position and dimension rules should be contained here

.module > .visiting-module{} 
.module_child > .visiting-module{}